.header{
    text-align: center;
    font-weight: bold;
    color: rgb(239, 57, 57);
    margin-left: 60px;
}
body{
background-image:url('auto-mechanic-checking-car.jpg');
background-repeat: no-repeat;
background-position: left center;
background-size: cover;
height: 100%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: rgb(255, 255, 255);
}
.Contact{
    color: white;
}

table, th, td {
    border:3px solid rgb(240, 21, 21);
  }

 th, td {
    color: rgb(0, 0, 0);
  text-align: center;
  }
.container{
    width: 100vh;
    height: 100vh;
}
.booking{
    background-color: rgb(49, 49, 49);
    text-align: center;
    margin: 0;
    padding: 0%;
    
}
.btn{
    width: 101px;
    color: red;
    font-weight: bold;
    border-radius: 7px;
    background-color: black;
    cursor: pointer;
}
.lbl{
    padding-top:5px;
}